body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.content-section {
  background: #ffffff;
  padding: 10px 10px;
  border: 1px solid #dddddd;
  border-radius: 1px;
  margin-bottom: 10px;
}

.login-section {
  background: #ffffff;
  padding: 1px 1px;
  border: 1px solid #dddddd;
  border-radius: 1px;
  margin-bottom: 1px;
  width: 40%;
}

.entry-title {
  color: #444444;
}

.entry-style {
  white-space: pre-line;
}

.entry-metadata {
  padding-bottom: 1px;
  margin-bottom: 1px;
  border-bottom: 1px solid #e3e3e3;
}

.search-bar {
  float: right;
}